html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1 0 auto;
    margin: 0.5rem;
}

#modal .modal-header {
    margin: 0 auto !important;
}

#modal .modal-dialog {
    min-width: 800px !important;
}

ul li {
    list-style: none;
}

#logout {
    cursor: pointer;
    color: #007bff
}

#logout:hover {
    text-decoration: underline
}