html, body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	flex: 1 0 auto;
	margin: 0.5rem;
}

#modal .modal-header {
	margin: 0 auto !important;
}

#modal .modal-dialog {
	min-width: 800px !important;
}

ul li {
	list-style: none;
}

.edit {
	cursor: pointer;
}

.edit:hover {
	text-decoration: underline
}

.dtr-control p {
	margin-left: 1rem;
}